<!--The content below is only a placeholder and can be replaced.-->
<div class="background">
  <article class="card">
    <div class="card__content">
      <h3 class="card__title">Rick and Morty</h3>
      <span class="card__subtitle">
        Science Fiction | Black comedy
      </span>
      <p class="card__description">
        Rick and Morty is an American adult animated science fiction sitcom
        created by Justin Roiland and Dan Harmon for Cartoon Network's nighttime
        programming block Adult Swim. The series follows the misadventures of
        cynical mad scientist Rick Sanchez and his good-hearted, but fretful
        grandson Morty Smith, who split their time between domestic life and
        interdimensional adventures.
      </p>
    </div>
  </article>
</div>
